<div class="about-me">
  <div class="col-xs-12 col-md-6 col-md-offset-3 profile-img-area">
    <h1 class="page-main-header small-header">{{ langData.header }}</h1>
    <img class="dor-image" src="../../../assets/images/dor-profile1.jpg" alt="About Me" />
  </div>
  <div class="col-md-12 col-lg-6 col-md-offset-3 details">
    <h1 class="page-main-header large-header">{{ langData.header }}</h1>
    <p [innerHTML]="langData.paragraph1"></p>
    <h6>{{ langData.smallHeader }}</h6>
    <p [innerHTML]="langData.paragraph2"></p>
  </div>
</div>
