<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <img src="../../../assets/logo.png" alt="logo" routerLink="">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul
        class="navbar-nav w-100 align-items-center"
      >
      <li class="nav-item">
        <a
          class="nav-link color-secondary"
          routerLinkActive="focus"
          routerLink="home"
          >הבלוגים שלי</a
        >
      </li>
      <li class="nav-item">
        <a
        class="nav-link color-secondary"
        routerLinkActive="focus"
        routerLink="follow-list"
        >רשימות מעקב</a
        >
      </li>
      <li class="nav-item">
        <a
        class="nav-link color-secondary"
        routerLinkActive="focus"
        routerLink="blog"
        >הוספת בלוג</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link color-secondary"
          routerLinkActive="focus"
          routerLink="contacts"
          >בקשות ליצירת קשר</a
        >
      </li>
      </ul>
    </div>
  </div>
</nav>
