<div class="footer-container">
  <footer>
    <div class="footer-section">
      <span>{{ langData.rights }} ©</span> <span class="separate">|</span>
      <span
        >{{ langData.design }} -
        <a href="https://tomamar.me/" target="_blank" class="tom-amar-link"
          >Tom Amar</a
        ></span
      >
    </div>
    <div class="footer-section">
      <a routerLink="terms&conditions">{{ langData.terms }}</a>
      <span class="separate">|</span>
      <div class="icons">
        <a [href]="myWhatsAppLink" target="_blank" class="icon">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a
          href="https://www.facebook.com/groups/271073134923240"
          class="icon"
          target="_blank"
        >
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="tel:+972526911681" class="icon">
          <i class="fa-solid fa-phone-volume"></i>
        </a>
      </div>
    </div>
  </footer>
</div>
