<div class="terms-container">
  <h1>{{ langData.header }}</h1>
  <div [innerHTML]="langData.paragraph1"></div>
  <h5>{{ langData.services }}</h5>
  <p [innerHTML]="langData.paragraph2"></p>
  <p [innerHTML]="langData.paragraph3"></p>

  <h5>{{ langData.availability }}</h5>
  <p [innerHTML]="langData.paragraph4"></p>

  <h5>{{ langData.liability }}</h5>
  <p [innerHTML]="langData.paragraph5"></p>

  <h5>{{ langData.privacy }}</h5>
  <p [innerHTML]="langData.paragraph6"></p>

  <h5>{{ langData.property }}</h5>
  <p [innerHTML]="langData.paragraph7"></p>

  <h5>{{ langData.law }}</h5>
  <p [innerHTML]="langData.paragraph8"></p>

  <h5>{{ langData.contact }}</h5>
  <p [innerHTML]="langData.paragraph9"></p>
</div>
